@import url(variables.css);

body {
    display: flex;
    background: var(--colorPrimary);
    flex-direction: column;
    justify-content: space-around;
    height: 100vh;
    align-items: center;
}

.contenedor {
    display: flex;
    justify-content: space-around;
}

.box {
    display: flex;
    background-color: red;
    margin: 20px;
    height: 100px;
    width: 100px;
}

.box:nth-child(1) {
    justify-content: flex-end;
    align-items: center;
}

.box:nth-child(2) {
    justify-content: flex-start;
    align-items: flex-end;
}

.box:nth-child(3) .subBox {
    justify-content: flex-start;
    align-items: flex-end;
}

.box4{
    display: flex;
    background-color: red;
    margin: 20px;
    height: 100px;
    width: 100px;
    justify-content:space-between;
}

.subBox {
    padding: 10px;
    background-color: blue;
    height: fit-content;
}

span {
    padding: auto;
    font-size: 5px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  .container {
    width: 80%;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
  }
  
  dl {
    margin-top: 20px;
  }
  
  dt {
    font-weight: bold;
    margin-top: 10px;
  }
  
  dd {
    margin-left: 20px;
    margin-bottom: 10px;
  }
  
  /* Flexbox example */
  .flex-container {
    display: flex;
  }
  
  .flex-item {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    margin: 5px;
    text-align: center;
    flex: 1; /* Distribuye el espacio de manera uniforme entre los elementos */
  }
  
  /* CSS Grid example */
  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Tres columnas con el mismo ancho */
    gap: 10px; /* Espacio entre los elementos */
  }
  
  .grid-item {
    background-color: #28a745;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Transición para el color de fondo */
  }
  
  button:hover {
    background-color: #0056b3; /* Nuevo color de fondo al pasar el ratón */
  }
    
